WS/src/main/java/wsdl/wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="BanqueWS">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="ListeComptes">
        <part name="parameters" element="tns:ListeComptes"/>
    </message>
    <message name="ListeComptesResponse">
        <part name="parameters" element="tns:ListeComptesResponse"/>
    </message>
    <message name="ConvDinarToEuro">
        <part name="parameters" element="tns:ConvDinarToEuro"/>
    </message>
    <message name="ConvDinarToEuroResponse">
        <part name="parameters" element="tns:ConvDinarToEuroResponse"/>
    </message>
    <message name="ConvEUToDinar">
        <part name="parameters" element="tns:ConvEUToDinar"/>
    </message>
    <message name="ConvEUToDinarResponse">
        <part name="parameters" element="tns:ConvEUToDinarResponse"/>
    </message>
    <message name="getCompte">
        <part name="parameters" element="tns:getCompte"/>
    </message>
    <message name="getCompteResponse">
        <part name="parameters" element="tns:getCompteResponse"/>
    </message>
    <portType name="BanqueService">
        <operation name="ListeComptes">
            <input wsam:Action="http://WS/BanqueService/ListeComptesRequest" message="tns:ListeComptes"/>
            <output wsam:Action="http://WS/BanqueService/ListeComptesResponse" message="tns:ListeComptesResponse"/>
        </operation>
        <operation name="ConvDinarToEuro">
            <input wsam:Action="http://WS/BanqueService/ConvDinarToEuroRequest" message="tns:ConvDinarToEuro"/>
            <output wsam:Action="http://WS/BanqueService/ConvDinarToEuroResponse" message="tns:ConvDinarToEuroResponse"/>
        </operation>
        <operation name="ConvEUToDinar">
            <input wsam:Action="http://WS/BanqueService/ConvEUToDinarRequest" message="tns:ConvEUToDinar"/>
            <output wsam:Action="http://WS/BanqueService/ConvEUToDinarResponse" message="tns:ConvEUToDinarResponse"/>
        </operation>
        <operation name="getCompte">
            <input wsam:Action="http://WS/BanqueService/getCompteRequest" message="tns:getCompte"/>
            <output wsam:Action="http://WS/BanqueService/getCompteResponse" message="tns:getCompteResponse"/>
        </operation>
    </portType>
    <binding name="BanqueServicePortBinding" type="tns:BanqueService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="ListeComptes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ConvDinarToEuro">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ConvEUToDinar">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getCompte">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="BanqueWS">
        <port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
            <soap:address location="http://localhost:8080/"/>
        </port>
    </service>
</definitions>